numpy==1.18.1
matplotlib==3.1.1
pandas==0.25.3
backcall==0.1.0
CacheControl==0.12.5
category-encoders==2.0.0
certifi==2019.9.11
chardet==3.0.4
cycler==0.10.0
Cython==0.29.13
dabest==0.2.5
decorator==4.4.0
dill==0.3.0
gmem==0.20190316.1139
h5py==2.10.0
hdmedians==0.13
idna==2.8
imageio==2.5.0
ipython==7.8.0
ipython-genutils==0.2.0
jedi==0.15.1
joblib==0.14.1
kiwisolver==1.1.0
lockfile==0.12.2
merf==0.3
msgpack==0.6.1
natsort==6.0.0
networkx==2.3
parso==0.5.1
patsy==0.5.1
pexpect==4.7.0
pickleshare==0.7.5
Pillow==6.1.0
prompt-toolkit==2.0.9
ptyprocess==0.6.0
pyarrow==0.14.1
Pygments==2.7.4
pyparsing==2.4.2
python-dateutil==2.8.1
pytz==2019.3
PyWavelets==1.0.3
requests==2.22.0
scikit-bio==0.5.5
scikit-image==0.15.0
scikit-learn==0.22.1
scikits.bootstrap==0.3.3
scipy==1.4.1
seaborn==0.9.0
shap==0.30.1
six==1.14.0
sklearn==0.0
statsmodels==0.10.1
tqdm==4.35.0
traitlets==4.3.2
urllib3==1.25.3
wcwidth==0.1.7
xgboost==0.90
